@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@layer components {
  .text-gradient-color {
    @apply bg-gradient-to-b from-[#30599D] to-[#AA8FFF] inline-block text-transparent bg-clip-text;
  }
  .bg-gradient-color {
    @apply bg-gradient-to-tl from-[#AA8FFF] to-[#30599D];
  }
}

@theme default {
  --color-primary-color: #ffffff;
  --color-background-color: #f9fafb;
  --color-secondary-color: #aa8fff;
  --color-base-color: #2c2c2c;
  --color-anchor-color: #aa8fff;
  --color-highlight-color: #eaecfe;
  --color-lighter-color: #797979;
  --color-input-color: #efefef;
  --color-error-color: #e53935;
  --color-success-color: #16a249;
  --color-warning-color: #f59f0a;
  --font-poppins: Poppins, sans-serif;
}

html,
body {
  background-color: #ffffff;
  color: #2c2c2c;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
th {
  border-bottom: 1px solid #2c2c2c !important;
}

/* .font-special {
  font-family: var(--font-bagatelleVF);
} */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #aa8fff, #aa8fff);
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background-color: #202020;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #aa8fff !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.active {
  color: #f9f9f9 !important;
}

/** ANTD Theme Change  */

/** SIDEBAR: Only added a border to the left of the menu items and changed the background color of the selected item. */
/* .ant-menu-item {
  background-color: transparent !important;
  border-left: 6px solid #AA8FFF00 !important;
  border-radius: 0px !important;
  margin: 5px !important;
}
.ant-menu-item .ant-menu-item-title {
  background-color: transparent !important;
  border-left: 6px solid #AA8FFF00 !important;
  border-radius: 0px !important;
  margin: 5px !important;
}
.ant-menu-item-selected {
  background-color: transparent !important;
  border-left: 6px solid #AA8FFF !important;
  border-radius: 0px !important;
  margin: 5px !important;
}
.ant-menu-submenu .ant-menu-submenu-title {
  background-color: transparent !important;
  border-left: 6px solid #AA8FFF00 !important;
  border-radius: 0px !important;
  margin: 5px !important;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
  background-color: transparent !important;
  border-left: 6px solid #AA8FFF !important;
  border-radius: 0px !important;
}
.ant-menu-submenu-selected .ant-menu-item {
  border-left: 6px solid #AA8FFF00 !important;
  background-color: transparent !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 0px !important;
}
.ant-menu-submenu-selected .ant-menu-item-selected {
  border-left: 6px solid #AA8FFF00 !important;
  background-color: transparent !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin: 5px !important;
  margin-bottom: 5px !important;
}
.ant-menu-submenu-selected .ant-menu-item-selected a {
  color: #AA8FFF !important;
}
.ant-menu-submenu-selected .ant-menu-item-selected .ant-menu-item-icon {
  color: #AA8FFF !important;
} */

/** SIDEBAR:  Selected Backgorund Color Change  */

.ant-menu-submenu-selected .ant-menu-submenu-title {
  background-color: #aa8fff !important;
}
.ant-menu-submenu-selected .ant-menu-item-selected {
  background-color: transparent !important;
}
.ant-menu-submenu-selected .ant-menu-item-selected a {
  color: #aa8fff !important;
}
.ant-menu-submenu-selected .ant-menu-item-selected .ant-menu-item-icon {
  color: #aa8fff !important;
}

/** Table:  Sorter Icon Color Change  */
.ant-table-column-sorters .ant-table-column-sorter-inner {
  color: #2c2c2c99 !important;
}
.ant-table-column-sorters .ant-table-column-sorter-inner .active {
  color: #aa8fff !important;
}
.ant-table-filter-column .active {
  color: #aa8fff !important;
}
.custom-select .ant-select-selection-item {
  color: #f9f9f9 !important;
}

.ant-pagination-item-container .ant-pagination-item-ellipsis:hover {
  color: #aa8fff !important;
}

.ant-upload-list-item-name {
  width: 20ch !important;
}
